html {
	background-image: url("officeBack.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;	;
}

body {
	width: 80%;
	background: #fff;
	border-radius: 5px;
	padding: 15px 30px 30px 30px;
	opacity: 0.8;
	margin-top: 60px;
}

body h1 {
	text-align: center;
}